
/* AliasCSS : These are classnames compiled  from index.html*/

@media  (min-width : 992px) {
.lg-bgc-red{background-color:red !important;}
 } 
@media (max-width : 768px) {
.mob-bgc-green{background-color:green ;}
 } 
@media  (min-width : 768px){
.tab-bgc-black{background-color:black ;}
 } 
//--------------